body{
    display: flex;
    align-items: center;
    background-color: #f0ffff;
    height: 100vh;
    position: relative;
    justify-content: center;
    overflow-y: scroll;
}
h1{
    padding: 1rem;
}
.container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    width: 50%;
    margin: 1rem;
    box-shadow: 0 0 .5rem #008b8b;
    padding: 1rem;
}
.add__container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: .5rem;
    margin-bottom: .5rem;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    border-radius: 5px;
    background-color: #008b8b;
}

.add__container input{
    
    border: none;
    min-width: 40%;
    font-size: 1rem;
    padding: .2rem;
    text-align: center;
    border-radius: 5px;
    margin-right: 1rem;
}

#button-add{
    background-color: #f0ffff;
    box-shadow: 0 0 .3rem #008b8b;
    font-weight: bolder;
    font-size: 1.5rem;
    border: none;
    color: #015a5a;
    border-radius: 5px;
    padding: 0 .8rem;
}

#button-add:hover{
    background-color: #ffd700;
}

.filter-remove-button{
    display: flex;
    width: 100%;
    margin-top: .5rem;
    justify-content: space-between;
    align-items: center;
}

.remove-all{
    background-color: #f82424;
    box-shadow: 0 0 .3rem #a71111;
    color: #f0ffff;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    padding: .5rem 1rem;
    margin-left: 1rem;
}
#label__filter{
    background-color: #008b8b;
    box-shadow: 0 0 .3rem #015a5a;
    color: #f0ffff;
    font-weight: bolder;
    padding: .5rem 1rem;
    border-radius: 5px;
}
#menu__filter{
    position: absolute;
    z-index: 99;
    padding: .2rem;
    background-color: #f0ffff;
    text-decoration: none;
}
.menu__option{
    background-color: #008b8b;
    box-shadow: 0 0 .3rem #015a5a;
    color: #f0ffff;
    font-weight: bolder;
    padding: .5rem 1rem;
    border-radius: 5px;
    margin: .3rem;
    text-decoration: none;
}
table{
    width: 100%;
    margin: .5rem;
    background-color: #015a5a;
    border-radius: 5px;
}
thead {
    background-color: #015a5a;   
    color: #ffffff;  
}
th, td{
    padding: .5rem 1rem;
    font-size: 1rem;
}
.linha{
    background-color: #f0ffff;
}
.linha:nth-child(even) {
    background:#008b8b;
    color: #f0ffff;
}
.linha td:nth-child(1),.linha td:nth-child(4){
    text-align: center;
}
.oculto{
    display: none;
}
.exibir{
    display: flex;
}
.editar, .salvar, .remover{
    color: #f0ffff;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    padding: .3rem .5rem;
    margin-left: .5rem;
}
.editar{
    background-color: #ffd700;
    box-shadow: 0 0 .3rem #d4b501;
}
.salvar{
    background-color: #008b8b;
    box-shadow: 0 0 .3rem #015a5a;
}
.remover{
    background-color: #f82424;
    box-shadow: 0 0 .3rem #a71111;
}

.linha input{
    width: 50px;
    height: 25px;
    appearance: none;
    border-radius: 25px;
    background-color: #cecccc;
    cursor: pointer;
    position: relative;
}
.linha input::before {
    content: "";
    height: 18px;
    width: 18px;
    background-color: #a0a0a0;
    top: 50%;
    left: 0.2rem;
    border-radius: inherit;
    position: absolute;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
.linha input:checked::before {
    left: 1.8rem;
    background-color: #008b8b;
}

@media screen and (max-width: 600px){
    .container{
        width: 99%;
        margin: 5px;
        box-shadow: 0 0 .2rem #008b8b;
        padding: .2rem;
        margin: 0 1rem;
    }
    td, th{
        padding: .2rem .5rem;
        font-size: .8rem;
    }
    .editar, .salvar, .remover{
        font-size: .8rem;
        padding: 2px;
    }
}
@media screen and (min-width: 601px) and (max-width: 800px){
    .container{
        width: 90%;
        margin: 5px;
        box-shadow: 0 0 .2rem #008b8b;
        padding: .2rem;
    }
    td, th{
        padding: .2rem .5rem;
        font-size: .8rem;
    }
}